#edit-category-ids div[class*="form-item-category"] {
  display: flex;
}

#edit-category-ids div[class*="form-item-category"] label {
  display: block;
  flex-basis: 150px;
  flex-shrink: 0;
}

#edit-category-ids div[class*="form-item-category"] input {
  display: block;
}
