{#
/**
 * @file
 * Default theme implementation for the CookiePro Settings button block.
 *
 * Available variables:
 * - langcode: current content langcode
 *
 * @ingroup themeable
 */
#}
{% apply spaceless %}
<button id="ot-sdk-btn" class="ot-sdk-show-settings">{% trans with {'langcode': langcode} %}Cookie settings{% endtrans %}</button>
{% endapply %}
