{#
/**
 * @file
 * Default theme implementation for the CookiePro Settings link block.
 *
 * Available variables:
 * - langcode: current content langcode
 *
 * @ingroup themeable
 */
#}
{% apply spaceless %}
<a class="ot-sdk-show-settings">{% trans with {'langcode': langcode} %}Cookie settings{% endtrans %}</a>
{% endapply %}
