{#
/**
 * @file
 * Default template for default storage consent value for Google Consent Mode support.
 *
 * Available variables:
 * - storages: the storage types and their default consent value.
 *
 * @ingroup themeable
 */
#}

{% apply spaceless %}
  {% if storages is not null %}
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('consent', 'default', {
    {% for storage, value in storages %}
      '{{ storage }}': '{{ value }}',
    {% endfor %}
    });
  {% endif %}
{% endapply %}
